opam-version: "2.0"
compiler: [
  "base-bigarray.base"
  "base-domains.base"
  "base-nnp.base"
  "base-threads.base"
  "base-unix.base"
  "ocaml.5.2.0"
  "ocaml-config.3"
  "ocaml-options-vanilla.1"
  "ocaml-variants.5.2.0+ox"
]
roots: [
  "async.v0.18~preview.130.36+326"
  "bonsai.v0.18~preview.130.36+326"
  "bonsai_web.v0.18~preview.130.36+326"
  "bonsai_web_components.v0.18~preview.130.36+326"
  "merlin.5.2.1-502+ox"
  "ocaml-lsp-server.1.19.0+ox"
  "ocaml-variants.5.2.0+ox"
  "ocamlformat.0.26.2+ox"
  "parallel.v0.18~preview.130.36+326"
  "ppx_html.v0.18~preview.130.36+326"
  "utop.2.15.0+ox"
]
installed: [
  "abstract_algebra.v0.18~preview.130.36+326"
  "am_running_how_js.v0.18~preview.130.36+326"
  "angstrom.0.16.1"
  "astring.0.8.5"
  "async.v0.18~preview.130.36+326"
  "async_durable.v0.18~preview.130.36+326"
  "async_js.v0.18~preview.130.36+326"
  "async_kernel.v0.18~preview.130.36+326"
  "async_log.v0.18~preview.130.36+326"
  "async_rpc_kernel.v0.18~preview.130.36+326"
  "async_unix.v0.18~preview.130.36+326"
  "babel.v0.18~preview.130.36+326"
  "backoff.0.1.1+ox"
  "base.v0.18~preview.130.36+326"
  "base-bigarray.base"
  "base-bytes.base"
  "base-domains.base"
  "base-nnp.base"
  "base-threads.base"
  "base-unix.base"
  "base64.3.5.1"
  "base_bigstring.v0.18~preview.130.36+326"
  "base_quickcheck.v0.18~preview.130.36+326"
  "basement.v0.18~preview.130.36+326"
  "bignum.v0.18~preview.130.36+326"
  "bigstringaf.0.10.0"
  "bin_prot.v0.18~preview.130.36+326"
  "bonsai.v0.18~preview.130.36+326"
  "bonsai_concrete.v0.18~preview.130.36+326"
  "bonsai_test.v0.18~preview.130.36+326"
  "bonsai_web.v0.18~preview.130.36+326"
  "bonsai_web_components.v0.18~preview.130.36+326"
  "bonsai_web_test.v0.18~preview.130.36+326"
  "camlp-streams.5.0.1"
  "capitalization.v0.18~preview.130.36+326"
  "chrome-trace.3.19.1"
  "cmarkit.0.3.0"
  "cmdliner.1.3.0"
  "conf-autoconf.0.2"
  "conf-bash.1"
  "conf-g++.1.0"
  "conf-gmp.5"
  "conf-which.1"
  "core.v0.18~preview.130.36+326"
  "core_extended.v0.18~preview.130.36+326"
  "core_kernel.v0.18~preview.130.36+326"
  "core_unix.v0.18~preview.130.36+326"
  "cppo.1.8.0"
  "csexp.1.5.2"
  "cstruct.6.2.0"
  "dedent.v0.18~preview.130.36+326"
  "dot-merlin-reader.5.2.1-502+ox"
  "dune.3.19.1"
  "dune-build-info.3.19.1"
  "dune-configurator.3.19.1"
  "dune-rpc.3.19.1"
  "dyn.3.19.1"
  "either.1.0.0"
  "expect_test_helpers_async.v0.18~preview.130.36+326"
  "expect_test_helpers_core.v0.18~preview.130.36+326"
  "expectable.v0.18~preview.130.36+326"
  "expectree.v0.18~preview.130.36+326"
  "fiber.3.7.0"
  "fieldslib.v0.18~preview.130.36+326"
  "file_path.v0.18~preview.130.36+326"
  "filesystem.v0.18~preview.130.36+326"
  "fix.20250428"
  "float_array.v0.18~preview.130.36+326"
  "fmt.0.10.0"
  "fpath.0.7.3"
  "fuzzy_match.v0.18~preview.130.36+326"
  "gen.1.1"
  "gen_js_api.1.1.2+ox"
  "incr_dom.v0.18~preview.130.36+326"
  "incr_map.v0.18~preview.130.36+326"
  "incr_select.v0.18~preview.130.36+326"
  "incremental.v0.18~preview.130.36+326"
  "int_repr.v0.18~preview.130.36+326"
  "jane-street-headers.v0.18~preview.130.36+326"
  "jane_rope.v0.18~preview.130.36+326"
  "janestreet_lru_cache.v0.18~preview.130.36+326"
  "js_of_ocaml.6.0.1+ox"
  "js_of_ocaml-compiler.6.0.1+ox"
  "js_of_ocaml-ppx.6.0.1+ox"
  "jsonrpc.1.19.0+ox"
  "jst-config.v0.18~preview.130.36+326"
  "lambda-term.3.3.2"
  "lambdasoup.1.1.1"
  "legacy_diffable.v0.18~preview.130.36+326"
  "logs.0.9.0"
  "lsp.1.19.0+ox"
  "lwt.5.9.1"
  "lwt_react.1.2.0"
  "markup.1.0.3"
  "menhir.20240715"
  "menhirCST.20240715"
  "menhirLib.20240715"
  "menhirSdk.20240715"
  "merlin.5.2.1-502+ox"
  "merlin-lib.5.2.1-502+ox"
  "mew.0.1.0"
  "mew_vi.0.5.0"
  "num.1.6"
  "ocaml.5.2.0"
  "ocaml-compiler-libs.v0.17.0+ox"
  "ocaml-config.3"
  "ocaml-embed-file.v0.18~preview.130.36+326"
  "ocaml-index.1.1+ox"
  "ocaml-lsp-server.1.19.0+ox"
  "ocaml-options-vanilla.1"
  "ocaml-syntax-shims.1.0.0"
  "ocaml-variants.5.2.0+ox"
  "ocaml-version.4.0.1"
  "ocaml_intrinsics_kernel.v0.18~preview.130.36+326"
  "ocamlbuild.0.15.0+ox"
  "ocamlc-loc.3.19.1"
  "ocamlfind.1.9.8"
  "ocamlformat.0.26.2+ox"
  "ocamlformat-lib.0.26.2+ox"
  "ocamlformat-rpc-lib.0.27.0"
  "ocamlgraph.2.0.0"
  "ocp-indent.1.8.1"
  "ocplib-endian.1.2"
  "odoc-parser.2.0.0"
  "ojs.1.1.2+ox"
  "ordering.3.19.1"
  "ordinal_abbreviation.v0.18~preview.130.36+326"
  "oxcaml_effect.v0.18~preview.130.36+326"
  "parallel.v0.18~preview.130.36+326"
  "parsexp.v0.18~preview.130.36+326"
  "parsexp_prefix.v0.18~preview.130.36+326"
  "parsexp_symbolic_automaton.v0.18~preview.130.36+326"
  "patdiff.v0.18~preview.130.36+326"
  "patience_diff.v0.18~preview.130.36+326"
  "pipe_with_writer_error.v0.18~preview.130.36+326"
  "polling_state_rpc.v0.18~preview.130.36+326"
  "portable.v0.18~preview.130.36+326"
  "pp.2.0.0"
  "ppx_assert.v0.18~preview.130.36+326"
  "ppx_base.v0.18~preview.130.36+326"
  "ppx_bench.v0.18~preview.130.36+326"
  "ppx_bin_prot.v0.18~preview.130.36+326"
  "ppx_cold.v0.18~preview.130.36+326"
  "ppx_compare.v0.18~preview.130.36+326"
  "ppx_css.v0.18~preview.130.36+326"
  "ppx_custom_printf.v0.18~preview.130.36+326"
  "ppx_derivers.1.2.1"
  "ppx_diff.v0.18~preview.130.36+326"
  "ppx_disable_unused_warnings.v0.18~preview.130.36+326"
  "ppx_enumerate.v0.18~preview.130.36+326"
  "ppx_expect.v0.18~preview.130.36+326"
  "ppx_fields_conv.v0.18~preview.130.36+326"
  "ppx_fixed_literal.v0.18~preview.130.36+326"
  "ppx_for_loop.v0.18~preview.130.36+326"
  "ppx_globalize.v0.18~preview.130.36+326"
  "ppx_hash.v0.18~preview.130.36+326"
  "ppx_helpers.v0.18~preview.130.36+326"
  "ppx_here.v0.18~preview.130.36+326"
  "ppx_html.v0.18~preview.130.36+326"
  "ppx_ignore_instrumentation.v0.18~preview.130.36+326"
  "ppx_inline_test.v0.18~preview.130.36+326"
  "ppx_jane.v0.18~preview.130.36+326"
  "ppx_js_style.v0.18~preview.130.36+326"
  "ppx_let.v0.18~preview.130.36+326"
  "ppx_log.v0.18~preview.130.36+326"
  "ppx_module_timer.v0.18~preview.130.36+326"
  "ppx_optcomp.v0.18~preview.130.36+326"
  "ppx_optional.v0.18~preview.130.36+326"
  "ppx_pattern_bind.v0.18~preview.130.36+326"
  "ppx_pipebang.v0.18~preview.130.36+326"
  "ppx_quick_test.v0.18~preview.130.36+326"
  "ppx_sexp_conv.v0.18~preview.130.36+326"
  "ppx_sexp_message.v0.18~preview.130.36+326"
  "ppx_sexp_value.v0.18~preview.130.36+326"
  "ppx_shorthand.v0.18~preview.130.36+326"
  "ppx_stable.v0.18~preview.130.36+326"
  "ppx_stable_witness.v0.18~preview.130.36+326"
  "ppx_string.v0.18~preview.130.36+326"
  "ppx_string_conv.v0.18~preview.130.36+326"
  "ppx_template.v0.18~preview.130.36+326"
  "ppx_tydi.v0.18~preview.130.36+326"
  "ppx_typed_fields.v0.18~preview.130.36+326"
  "ppx_typerep_conv.v0.18~preview.130.36+326"
  "ppx_var_name.v0.18~preview.130.36+326"
  "ppx_variants_conv.v0.18~preview.130.36+326"
  "ppx_yojson_conv.v0.18~preview.130.36+326"
  "ppx_yojson_conv_lib.v0.18~preview.130.36+326"
  "ppxlib.0.33.0+ox"
  "ppxlib_ast.0.33.0+ox"
  "ppxlib_jane.v0.18~preview.130.36+326"
  "profunctor.v0.18~preview.130.36+326"
  "protocol_version_header.v0.18~preview.130.36+326"
  "re.1.13.2"
  "re2.v0.18~preview.130.36+326"
  "react.1.2.2"
  "record_builder.v0.18~preview.130.36+326"
  "regex_parser_intf.v0.18~preview.130.36+326"
  "result.1.5"
  "sedlex.3.3+ox"
  "seq.base"
  "sexp_grammar.v0.18~preview.130.36+326"
  "sexp_pretty.v0.18~preview.130.36+326"
  "sexplib.v0.18~preview.130.36+326"
  "sexplib0.v0.18~preview.130.36+326"
  "spawn.v0.17.0"
  "splittable_random.v0.18~preview.130.36+326"
  "stdio.v0.18~preview.130.36+326"
  "stdlib-shims.0.3.0"
  "stdune.3.19.1"
  "stored_reversed.v0.18~preview.130.36+326"
  "streamable.v0.18~preview.130.36+326"
  "string_dict.v0.18~preview.130.36+326"
  "stringext.1.6.0"
  "testable_timeout.v0.18~preview.130.36+326"
  "textutils.v0.18~preview.130.36+326"
  "textutils_kernel.v0.18~preview.130.36+326"
  "tilde_f.v0.18~preview.130.36+326"
  "time_now.v0.18~preview.130.36+326"
  "topkg.1.0.8+ox"
  "toplayer.v0.18~preview.130.36+326"
  "trie.1.0.0"
  "typerep.v0.18~preview.130.36+326"
  "tyxml.4.6.0"
  "uchar.0.0.2"
  "unboxed.v0.18~preview.130.36+326"
  "unique.v0.18~preview.130.36+326"
  "univ_map.v0.18~preview.130.36+326"
  "uopt.v0.18~preview.130.36+326"
  "uri.4.4.0"
  "uri-sexp.4.4.0"
  "uri_parsing.v0.18~preview.130.36+326"
  "utop.2.15.0+ox"
  "uucp.16.0.0"
  "uuseg.16.0.0"
  "uutf.1.0.3+ox"
  "variantslib.v0.18~preview.130.36+326"
  "vec.v0.18~preview.130.36+326"
  "versioned_polling_state_rpc.v0.18~preview.130.36+326"
  "virtual_dom.v0.18~preview.130.36+326"
  "xdg.3.19.1"
  "yojson.2.2.2"
  "zarith.1.12+ox"
  "zarith_stubs_js.v0.18~preview.130.36+326"
  "zed.3.2.3"
]
pinned: "ocaml-lsp-server.1.19.0+ox"
package "ocaml-lsp-server" {
  opam-version: "2.0"
  version: "1.19.0+ox"
  synopsis: "LSP Server for OCaml"
  description: "An LSP server for OCaml."
  maintainer: "Rudi Grinberg <me@rgrinberg.com>"
  authors: [
    "Andrey Popp <8mayday@gmail.com>"
    "Rusty Key <iam@stfoo.ru>"
    "Louis Roché <louis@louisroche.net>"
    "Oleksiy Golovko <alexei.golovko@gmail.com>"
    "Rudi Grinberg <me@rgrinberg.com>"
    "Sacha Ayoun <sachaayoun@gmail.com>"
    "cannorin <cannorin@gmail.com>"
    "Ulugbek Abdullaev <ulugbekna@gmail.com>"
    "Thibaut Mattio <thibaut.mattio@gmail.com>"
    "Max Lantas <mnxndev@outlook.com>"
  ]
  license: "ISC"
  homepage: "https://github.com/ocaml/ocaml-lsp"
  bug-reports: "https://github.com/ocaml/ocaml-lsp/issues"
  depends: [
    "dune" {>= "3.0"}
    "yojson"
    "base" {>= "v0.16.0"}
    "lsp" {= version}
    "jsonrpc" {= version}
    "re" {>= "1.5.0"}
    "ppx_yojson_conv_lib" {>= "v0.14"}
    "dune-rpc" {>= "3.4.0"}
    "chrome-trace" {>= "3.3.0"}
    "dyn"
    "stdune"
    "fiber" {>= "3.1.1" & < "4.0.0"}
    "ocaml"
    "xdg"
    "ordering"
    "dune-build-info"
    "spawn"
    "astring"
    "camlp-streams"
    "ppx_expect" {>= "v0.17.0" & with-test}
    "ocamlformat" {with-test & = "0.27.0"}
    "ocamlc-loc" {>= "3.7.0"}
    "pp" {>= "1.1.2"}
    "csexp" {>= "1.5"}
    "ocamlformat-rpc-lib" {>= "0.21.0"}
    "odoc" {with-doc}
    "odoc-parser" {= "2.0.0"}
    "merlin-lib" {= "5.2.1-502+ox"}
    "ppx_yojson_conv"
    "core_unix"
    "async"
    "cmarkit"
  ]
  build: [
    ["dune" "subst"] {dev}
    ["dune" "build" "-p" name "-j" jobs "@install" "@doc" {with-doc}]
  ]
  dev-repo: "git+https://github.com/ocaml/ocaml-lsp.git"
  url {
    src: "git+https://github.com/sam-tombury/ocaml-lsp.git#with-formatting"
  }
  x-maintenance-intent: ["(latest)"]
}
